.Row {
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
    }
    .Column {
    display: table-cell;
    }
    #searchInput {
        background-position: 10px 12px; 
        background-repeat: no-repeat;
        width: 100%; 
        font-size: 18px; 
        padding: 14px 20px 14px 40px; 
        border: 1px solid rgb(240, 220, 220);
        margin-top: 4px; 
        margin-bottom: 12px;
    }